* {
    box-sizing: border-box;
    background: #E5E5E5;
}

.body {
    margin: 0;
    background-color:white;
    position: relative;
}

.wrapper {
    width: 75vw; 
    /* от ширины экрана 1920px */
    height: 844px;
	margin: 0 auto; 
    position: relative;
    border: 1px white;
    background: white;
}

.header {
    height: 89px;
    border-color: none;
    background-color: #42cbf5;
    left: 0;
    top: 0;
}

.text-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 63px;
    color: #FFFFFF;
    padding-left: 29px;
    padding-top: 13px;
}

.main {
    position: relative;
	background-color: white;
	display: flex;
    width: 100%; 
}

.divider {
    position: relative;
	width: 2px;
	height: 451px;
	left: 25%;
	top: 49px;
	background: #C4C4C4;
}

.block_left {
    width: 19%;
	height: 500px;
	padding: 20px;
    left: 335px;
    top: 143px;
    background: white; 
}

.h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    background-color: white;
}

 a {
    color: #FF710B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    background-color: white;
    width: 206px;
    height: 28px;
    left: 20px;
    top: 71px;
}

.fixed {
    height: 20px;
    width: 50px;
    background-color: #FF710B;
    color: #000000;
    position: fixed;
    top: 700px;
    left: 15%;
}

.prokrutka {
    top: 30px;
    width: 50%;
    height:680px;
    right: 25px;
    left: 30%;
    background: #E5E5E5; 
    border: 1px solid #C1C1C1; 
    overflow-x: hidden;
    position: absolute; 
    }

.letter {
    height: 41px;
    background-color: #42cbf5;
    width: 1080px;
    left: -20px;
    top: 0;
    position: sticky;
}

.letter-header {
    position: absolute;
    width: 19px;
    height: 33px;
    left: 13px;
    top: 4px;
    background-color: #42cbf5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.surname {
    margin-left: 4%;
}

li {
    list-style-type:none;
}

.surname-a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    padding-top: 13px;
    padding-bottom: 30px;
}
@media  screen and (min-width: 320px) and (max-width: 479px) {
    .text-header {
        font-size: 30px;
        padding-left: 29px;
    }
    .h3 {
    font-size: 15px;
    }

    a {
        font-size: 13px;
    }
    .letter {
     
    }
    .letter-header {
        font-size: 15px;
    }

    .surname-a {
        font-size: 15px;
    }
    
}
@media  screen and (min-width: 480px) and (max-width: 719px) {
    .text-header {
        font-size: 40px;
    }
    .h3 {
    font-size: 20px;
    }

    a {
        font-size: 15px;
    }
    .surname-a {
        font-size: 20px;
    }
    
}


